footer {
  margin-block-start: var(--space-l-xl);
  padding: var(--space-s-m);
  color: var(--color-text);
}

.footer__meta {
  --gutter: var(--space-xs);
  --cluster-horizontal-alignment: center;
}

/* increase tab size */
.footer__meta a {
  padding: var(--space-xs);
}

footer svg {
  inline-size: 1.1em;
  block-size: 1em;
}

footer .creator {
  text-decoration: none;
}

footer .creator {
  text-decoration: none;
}

footer .creator:hover {
  color: transparent;
  background-image: var(--gradient-rainbow);
  background-size: 100%;
  background-repeat: repeat;
  background-clip: text;
}

footer .creator:hover svg {
  color: var(--color-text);
}
