dialog {
  border-radius: var(--border-radius);
  inset: revert;
}

dialog + button {
  all: unset;
  cursor: pointer;
}

/* Don't indicate interactivity without JS */
is-land:not(:defined) dialog + button {
  cursor: default;
}

dialog::backdrop {
  background-image: var(--gradient-stripes);
  opacity: 0.85;
  filter: brightness(50%);
}
