custom-gallery {
  --grid-min-item-size: clamp(16rem, 50vw, 20rem);
}

custom-gallery dialog {
  border: none;
  border-radius: var(--border-radius);
}

custom-gallery dialog + button {
  all: unset;
  cursor: pointer;
}

custom-gallery dialog::backdrop {
  background-image: var(--gradient-stripes);
  opacity: 0.85;
  filter: brightness(50%);
}
